{% load static %} <!--직접 만든 css 파일 넣을 때 필수-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--blog-css 폴더에 위치한 blog.css 연결-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--구글 폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
<div class="page_header">
    <h1><a href="/">BLOG</a></h1>
</div>

<div class="content continer">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>