h1, h2, h3, h4 {
    font-family: 'Rowdies';
}
.page_header{
    background-color: lightcoral;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page_header h1, .page_header a, .page_header h1 a:visited .page_header h1 a:active{
    color: white;
    font-size: 4rem;
    text-decoration: none;
}
.page_header h1 a:hover{
    color: #5E5694;
}

.content{
    margin-left: 40px;
    margin-top: 20px;
}
.post {
    margin-bottom: 70px;
    border: 1px solid blanchedalmond;
    padding: 5px;
}

.post h1 a, .post h1 a:visited {
    color: black;
}


.date {
    color: #828282;
}


.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}
.top_menu, .top_menu:hover, .top_menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}